.navbar {
    background-color: transparent;
}

.top-nav-collapse {
	/* background-color: rgb(49, 47, 47); */
	background-color: #062f4f;
}

/* Styling for the header video */
header {
	position: relative;
	background-color: black;
	height: 100vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
  }
  
  header video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
	position: relative;
	z-index: 2;
  }
  
  header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
  }

/* Styling for About section */
  #about {
	  background-color: #364a61;
	  color: white;
	  font-family: 'Nunito', 'Manjari', sans-serif;
  }

  #about p {
	  font-size: 16px;
  }

/* Styling for skills section */
#skills .list-group-item.newactive{
	/* background-color: rgb(49, 47, 47); */
	background-color: #b82601;
	color: white;
}

/* Styling for projects section */
#projects .card-header-color {
	background-color: #b82601;
	color: white;
}

#projects .btn-color {
	background-color: #062f4f;
	color: white;
}

#projects .col {
	padding: 1rem;
}